:root {
    --blanco:#fff;
    --negro: #000;
    --celeste-oscuro: #17A2B8;
    --celeste-claro: #56C0E0;
}


* {
    margin: 0%;
    padding: 0%;
    border: 0%;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--negro);
}

.weight300 {
    font-weight: 300;
}

nav {
    background-color: transparent;
}

nav a img {
    width: 2.5rem;
    height: auto;
}

.white-text {
    color: var(--blanco);
}   

.font-size16 {
    font-size: 16px;
}

.bgcolorceleste {
    background-color: var(--celeste-oscuro);
}

.bgcolornegro {
    background-color: var(--negro);
}

.border-dark {
    border-color: var(--negro) !important;
}

.card {
    border-radius: 1px !important;
}

.card-text {
    text-align: justify !important;
}

.icon-white {
    color: var(--blanco);
    font-size: 30px;
}

.altura-card {
    height: 10rem;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.border-light {
    border-radius: 3px !important;
}